body {
  padding-top: 60px;
  padding-bottom: 40px;
  margin: auto;
  background-color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
  display: flex;
}

.fixed-header {
  top: 0;
}

.fixed-header a,
.fixed-footer a {
  text-decoration: none;
  color: #fff;
}

.fixed-footer {
  bottom: 0;
}

.contact {
  display: flex;
}

.container hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.language {
  float: right;
  display: flex;
}

.language img {
  max-width: 20px;
  float: right;
  margin-left: 10px;
}

.contacts {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacts .contact {
  display: flex;
  margin-left: 20px;
}

.contacts a {
  margin-left: 3px;
}

.contact img {
  max-width: 20px;
  margin-left: 20px;
}

.container li {
  list-style-type: none;
  text-indent: -15px;
}

.container li:before {
  content: "-";
  margin-right: 7px;
}

.tabulation {
  margin-left: 30px;
}

.boxCitation {
  background-color: bisque;
  padding: 10px;
  display: inline-block;
}

.container p {
  line-height: 23px;
}